In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Datasetexploration").getOrCreate()

23/04/08 09:33:26 WARN Utils: Your hostname, julian-Latitude-7280 resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface wlp1s0)
23/04/08 09:33:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/julian/spark-3.2.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/08 09:33:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/08 09:33:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/04/08 09:33:28 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/04/08 09:33:28 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
spark

In [4]:
df = spark.read.option("header","true").csv("/home/julian/FORD_GO_BIKE_PROJECT/Dataset-2017-fordgobike-tripdata.csv")

In [5]:
df.printSchema()

root
 |-- start_time: string (nullable = true)
 |-- end_time: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: string (nullable = true)
 |-- start_station_longitude: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: string (nullable = true)
 |-- end_station_longitude: string (nullable = true)
 |-- bike_id: string (nullable = true)
 |-- user_type: string (nullable = true)
 |-- member_birth_year: string (nullable = true)
 |-- member_gender: string (nullable = true)
 |-- pyment: string (nullable = true)

In [6]:
df.count()

519700

In [7]:
df.select('member_gender').distinct().show()

+-------------+
|member_gender|
+-------------+
|         null|
|       Female|
|        Other|
|         Male|
+-------------+

In [8]:
df == df.dropna()

False

In [10]:
columns = df.columns

In [11]:
# finding the number of null values in specific columns

from pyspark.sql.functions import col, isnan, when, count
df.select([count(when((isnan(c)) | (col(c).isnull()), c)).alias(c) for c in columns]).show()

TypeError: 'Column' object is not callable

In [25]:
df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).show()

+----------+--------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+-------+---------+-----------------+-------------+------+
|start_time|end_time|start_station_id|start_station_name|start_station_latitude|start_station_longitude|end_station_id|end_station_name|end_station_latitude|end_station_longitude|bike_id|user_type|member_birth_year|member_gender|pyment|
+----------+--------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+-------+---------+-----------------+-------------+------+
|         0|       0|               0|                 0|                     0|                      0|             0|               0|                   0|                    0|      0|        0|                0|            0|     0|
+----------+--------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+-------+---------+-----------------+-------------+------+

In [9]:
df.columns

['start_time',
 'end_time',
 'start_station_id',
 'start_station_name',
 'start_station_latitude',
 'start_station_longitude',
 'end_station_id',
 'end_station_name',
 'end_station_latitude',
 'end_station_longitude',
 'bike_id',
 'user_type',
 'member_birth_year',
 'member_gender',
 'pyment']

In [13]:
df.filter(df['member_gender'].isna())

TypeError: 'Column' object is not callable

In [14]:
# import packages 
from pyspark.sql import DataFrame
import pyspark.sql.functions as F
import pyspark.sql.types


def getNullNanBlankCount(df: DataFrame) -> DataFrame: 
  
  # get all the column names into a list
  allColsList = df.columns
  
  # create an empty list to temporarily store column names and count values
  listBuffer = []
  
  for field in allColsList:   
    # count nulls
    nullCondition = F.isnull(F.col(field))
    nullCount = df.select(F.col(field)).filter(nullCondition).count()  
    
    # count nans
    nanCondition = F.isnan(F.col(field))
    nanCount = df.select(F.col(field)).filter(nanCondition).count()  
    
    # count blank/empty values
    blankCount = df.select(F.col(field)).filter(F.col(field) == " ").count()  
     
    # append column names and count values to the list
    listBuffer.append((field, nullCount, nanCount, blankCount))

  # convert listBuffer into a new dataframe
  resDf = spark.createDataFrame(listBuffer, ["table_column_name", "null_count", "nan_count", "blank_count"])
 
  return resDf

In [ ]:
#sdf.transform(getNullNanBlankCount()).show(false)

In [15]:
df.transform(getNullNanBlankCount).show(truncate=False)

+-----------------------+----------+---------+-----------+
|table_column_name      |null_count|nan_count|blank_count|
+-----------------------+----------+---------+-----------+
|start_time             |0         |0        |0          |
|end_time               |0         |0        |0          |
|start_station_id       |0         |0        |0          |
|start_station_name     |0         |0        |0          |
|start_station_latitude |0         |0        |0          |
|start_station_longitude|0         |0        |0          |
|end_station_id         |0         |0        |0          |
|end_station_name       |0         |0        |0          |
|end_station_latitude   |0         |0        |0          |
|end_station_longitude  |0         |0        |0          |
|bike_id                |0         |0        |0          |
|user_type              |0         |0        |0          |
|member_birth_year      |66541     |0        |0          |
|member_gender          |66462     |0        |0          |
|pyment                 |0         |0        |0          |
+-----------------------+----------+---------+-----------+

In [18]:
df.select('pyment').distinct().show()

+-----------+
|     pyment|
+-----------+
| app wallet|
|credit card|
+-----------+

In [ ]:
df.select('pyment').distinct().show()

In [8]:
df.printSchema()

root
 |-- start_time: string (nullable = true)
 |-- end_time: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: string (nullable = true)
 |-- start_station_longitude: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: string (nullable = true)
 |-- end_station_longitude: string (nullable = true)
 |-- bike_id: string (nullable = true)
 |-- user_type: string (nullable = true)
 |-- member_birth_year: string (nullable = true)
 |-- member_gender: string (nullable = true)
 |-- pyment: string (nullable = true)

In [12]:
df.agg({'end_station_id':'mean'}).show()

+-------------------+
|avg(end_station_id)|
+-------------------+
|  92.18404079276506|
+-------------------+

In [8]:
df1 = df

In [7]:
df.select('start_time','end_time').count()

519700

In [18]:
df1.withColumn('distance_travelled', haversine((df['start_station_latitude'],df['start_station_longitude']),
                    (df['end_station_latitude'],df['end_station_longitude']),unit=Unit.NAUTICAL_MILES ))

ValueError: Cannot convert column into bool: please use '&' for 'and', '|' for 'or', '~' for 'not' when building DataFrame boolean expressions.

In [16]:
pip install haversine

Collecting haversine
  Using cached haversine-2.8.0-py2.py3-none-any.whl (7.7 kB)
Installing collected packages: haversine
Successfully installed haversine-2.8.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
import haversine
from haversine import haversine, Unit

# New York City coordinates
nyc_coord = (40.7128, -74.0060)

# Los Angeles coordinates
la_coord = (34.0522, -118.2437)

# Calculate distance between NYC and LA
distance = haversine(nyc_coord, la_coord, unit=Unit.MILES)

print(f"Distance between NYC and LA: {distance:.1f} miles")

Distance between NYC and LA: 2445.6 miles

In [6]:
df2 = df.dropna()

In [7]:
df1 = df2

In [8]:
df1 = df1.withColumn('start_station_latitude',df['start_station_latitude'].cast("double")).\
         withColumn('start_station_longitude',df['start_station_longitude'].cast("double")).\
        withColumn('end_station_latitude',df['end_station_latitude'].cast("double")).\
        withColumn('end_station_longitude',df['end_station_longitude'].cast("double"))

In [9]:
from pyspark.sql.functions import udf
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType,DoubleType
# defining the function you want 
def distance(lat1,long1,lat2,long2):
    loc1 = (lat1,long1)
    loc2 = (lat2,long2)
    distance1 =haversine.haversine(loc1,loc2, Unit.KILOMETERS)
    return distance1

distanceUDF = udf(distance , DoubleType())

In [10]:
df1.withColumn("distance_travelled", distanceUDF(df['start_station_latitude'],df['start_station_longitude']\
                                                 ,df['end_station_latitude']\
                                                 ,df['end_station_longitude']))

AnalysisException: Resolved attribute(s) start_station_latitude#20,start_station_longitude#21,end_station_latitude#24,end_station_longitude#25 missing from start_time#16,end_time#17,start_station_id#18,start_station_name#19,start_station_latitude#61,start_station_longitude#77,end_station_id#22,end_station_name#23,end_station_latitude#93,end_station_longitude#109,bike_id#26,user_type#27,member_birth_year#28,member_gender#29,pyment#30 in operator !Project [start_time#16, end_time#17, start_station_id#18, start_station_name#19, start_station_latitude#61, start_station_longitude#77, end_station_id#22, end_station_name#23, end_station_latitude#93, end_station_longitude#109, bike_id#26, user_type#27, member_birth_year#28, member_gender#29, pyment#30, distance(start_station_latitude#20, start_station_longitude#21, end_station_latitude#24, end_station_longitude#25) AS distance_travelled#126]. Attribute(s) with the same name appear in the operation: start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude. Please check if the right attribute(s) are used.;
!Project [start_time#16, end_time#17, start_station_id#18, start_station_name#19, start_station_latitude#61, start_station_longitude#77, end_station_id#22, end_station_name#23, end_station_latitude#93, end_station_longitude#109, bike_id#26, user_type#27, member_birth_year#28, member_gender#29, pyment#30, distance(start_station_latitude#20, start_station_longitude#21, end_station_latitude#24, end_station_longitude#25) AS distance_travelled#126]
+- Project [start_time#16, end_time#17, start_station_id#18, start_station_name#19, start_station_latitude#61, start_station_longitude#77, end_station_id#22, end_station_name#23, end_station_latitude#93, cast(end_station_longitude#25 as double) AS end_station_longitude#109, bike_id#26, user_type#27, member_birth_year#28, member_gender#29, pyment#30]
   +- Project [start_time#16, end_time#17, start_station_id#18, start_station_name#19, start_station_latitude#61, start_station_longitude#77, end_station_id#22, end_station_name#23, cast(end_station_latitude#24 as double) AS end_station_latitude#93, end_station_longitude#25, bike_id#26, user_type#27, member_birth_year#28, member_gender#29, pyment#30]
      +- Project [start_time#16, end_time#17, start_station_id#18, start_station_name#19, start_station_latitude#61, cast(start_station_longitude#21 as double) AS start_station_longitude#77, end_station_id#22, end_station_name#23, end_station_latitude#24, end_station_longitude#25, bike_id#26, user_type#27, member_birth_year#28, member_gender#29, pyment#30]
         +- Project [start_time#16, end_time#17, start_station_id#18, start_station_name#19, cast(start_station_latitude#20 as double) AS start_station_latitude#61, start_station_longitude#21, end_station_id#22, end_station_name#23, end_station_latitude#24, end_station_longitude#25, bike_id#26, user_type#27, member_birth_year#28, member_gender#29, pyment#30]
            +- Filter atleastnnonnulls(15, start_time#16, end_time#17, start_station_id#18, start_station_name#19, start_station_latitude#20, start_station_longitude#21, end_station_id#22, end_station_name#23, end_station_latitude#24, end_station_longitude#25, bike_id#26, user_type#27, member_birth_year#28, member_gender#29, pyment#30)
               +- Relation [start_time#16,end_time#17,start_station_id#18,start_station_name#19,start_station_latitude#20,start_station_longitude#21,end_station_id#22,end_station_name#23,end_station_latitude#24,end_station_longitude#25,bike_id#26,user_type#27,member_birth_year#28,member_gender#29,pyment#30] csv

In [11]:
df1.count()

453159

In [12]:
df1.select('start_station_latitude').show()

+----------------------+
|start_station_latitude|
+----------------------+
|           37.77643482|
|           37.78487208|
|            37.8688126|
|             37.866249|
|            37.7766392|
|            37.7766392|
|             37.795001|
|             37.795001|
|            37.7737172|
|           37.78588063|
|             37.333955|
|            37.7510171|
|           37.79801364|
|           37.79801364|
|           37.87055533|
|           37.80456235|
|            37.7662102|
|            37.3319323|
|            37.8090126|
|             37.765052|
+----------------------+
only showing top 20 rows

In [56]:
df1.printSchema()

root
 |-- start_time: string (nullable = true)
 |-- end_time: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: double (nullable = true)
 |-- start_station_longitude: double (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: double (nullable = true)
 |-- end_station_longitude: double (nullable = true)
 |-- bike_id: string (nullable = true)
 |-- user_type: string (nullable = true)
 |-- member_birth_year: string (nullable = true)
 |-- member_gender: string (nullable = true)
 |-- pyment: string (nullable = true)

In [28]:
df1.withColumn('trip_time', df1['end_time'] - df1['start_time']).select('trip_time').show()

+---------+
|trip_time|
+---------+
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
|     null|
+---------+
only showing top 20 rows

In [29]:
df1.select('start_time').show()

+----------+
|start_time|
+----------+
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
+----------+
only showing top 20 rows

In [40]:
from pyspark.sql.functions import *
df1 = df1.withColumn('start_time', to_timestamp(col('start_time'),"HH:mm:ss.SSS"))\
    .withColumn('end_time', to_timestamp(col('end_time'),"HH:mm:ss.SSS"))

In [41]:
df1.printSchema()

root
 |-- start_time: timestamp (nullable = true)
 |-- end_time: timestamp (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: double (nullable = true)
 |-- start_station_longitude: double (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: double (nullable = true)
 |-- end_station_longitude: double (nullable = true)
 |-- bike_id: string (nullable = true)
 |-- user_type: string (nullable = true)
 |-- member_birth_year: string (nullable = true)
 |-- member_gender: string (nullable = true)
 |-- pyment: string (nullable = true)

In [ ]:
from pyspark.sql.functions import *

#Calculate Time difference in Seconds
df2=df.withColumn('from_timestamp',to_timestamp(col('from_timestamp')))\
  .withColumn('end_timestamp', current_timestamp())\
  .withColumn('DiffInSeconds',col("end_timestamp").cast("long") - col('from_timestamp').cast("long"))
df2.show(truncate=False)

In [42]:
from pyspark.sql.functions import *
#import pyspark.sql.functions as F

df1.withColumn('DiffInSeconds',col("end_time").cast("long") - col('start_time').cast("long"))\
                .select('DiffInSeconds').show()

+-------------+
|DiffInSeconds|
+-------------+
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
+-------------+
only showing top 20 rows

In [43]:
df.select('start_time').show()

+----------+
|start_time|
+----------+
|   57:39.7|
|   56:34.8|
|   45:48.4|
|   31:10.6|
|   23:14.0|
|   51:00.9|
|   49:28.4|
|   46:37.2|
|   37:07.5|
|   35:38.1|
|   46:32.4|
|   48:11.8|
|   52:55.6|
|   52:55.9|
|   35:23.2|
|   53:38.9|
|   54:40.1|
|   55:09.7|
|   52:49.5|
|   46:34.0|
+----------+
only showing top 20 rows